spinner{
    margin: o auto;
    display: flex;
    justify-content: center;
    border: 4px solid rgba(190,190,190,0.20);
    width: 60px;
    height:60px;
    border-radius: 50%;
    border-left-color: pink;
    animation: spinner 1s ease infinite;
}

@keyframes spinner {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate (360deg);
    }
}