* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100vh;
}

#root{
    display: flex;
    flex-direction: column;
}

#layout-header{
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: space-between; 
    width: 100vw;
    background-color: #7B8ADE;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

#layout-header nav a{
    margin-left: 1rem;
}
nav{
    justify-content: center;
    width: 98%;
}

a{
    text-decoration: none;
}
a:hover{
    color:  #8F857B; 
    background-color: #C7DED4;
    border-radius: 10px;
}

.header__title{
    color:white;
    font-size: 35px;
    font-weight: 100;
    padding: 0 50px 0 40px;
}
.header__title span{
    font-weight: 700;
}

.titleH1{
    color:#8F857B ;
    text-align:center;
    padding-top: 15px;
    font-size: 3rem;  
    }

    .titleH1 span{
        font-weight: 700;
    }

#main-footer {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #7B8ADE;
    height: 15%;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    width: 100vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 0.8rem;
    width: 98%;
}

#main-footer footer__copy{
    width: 100vw;
}


main{
    flex-grow: 1;
    padding: 1rem;
}

#cartwidget{
    color: white;
}